<div class="header">
  <h1 class="title">Fixed Width File Generator</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['home']" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['file-formatter']" routerLinkActive="active"><i class="fa fa-cogs"></i> File Formatting</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['file-input']" routerLinkActive="active"><i class="fa fa-file-text"></i> File Inputs</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>

<div class="footer">

</div>