<div class="child-component-container">
    <b>Todos:</b>
    <ul>
        <li>place instructions/introductions here</li>
        <li>fix check box formatting</li>
        <li>fix 'required' indiciator for dataType in field formatter</li>
        <li>add delete functionality to file formatter</li>
        <li>add readonly 'metadata' to file format page e.g. line length, field start and stop position as an index in line string, etc</li>
        <li>beautify ico</li>
        <li>either resolve display of whitespace in lines on file input page or place disclaimer that whitespace is collapsed</li>
        <li>enforce type rules for additional for validation</li>
        <li>add print functionality</li>
        <li>add download functionality</li>
        <li>add better data tracking in display of lines</li>
        <li>fix formatting on file inputs page so it is easier to read when there are a lot of fields per line</li>
        <li>resolve field input for dates so that changing type to datetime automatically sets field length since it will be converted to a specific format</li>
        <li>there are no negative numbers allow for input</li>
        <li>there really isn't much in the way of validation for numbers</li>
        <li>need to fix required numbers as 0 should be valid but is falsey</li>
    </ul>
</div>
